<div class="container">
  <p>Twitter</p>
  <form id="twitter" action="/tweet" method="post">
    <input class="tweets" type="text" name="tweet" placeholder="Tweet?">
    <input type="submit" value="Tweet!" class="search">

</div>

<div id="load"> <center><img src="/images/load.gif" id="loading" style="display:none" /> </center></div>

<div id="result"></div>